#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}
div.map {
    float: left;
    width: 25%;
}

.map table {
    width: 100%;
}

.map p {
    font-size: 10px;
    margin: 0px 0px 0px 0px;
}

div.counters {
    float: left;
    width: 50%;
    position: relative;
    left: 40px;
}

div.contacts {
    float: right;
    width: 25%;
}

